<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hospital of Andrew Dia</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&family=Philosopher:wght@400;700&family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/styles.css">
</head>
<body class="body">
	<div th:replace="fragments/header :: header"></div>
	<section class="content">
		<div class="container">
			<div class="content-wrap">
				<div class="search-content">
					<p>Register new region</p>
					<form class="new-patient" th:action="@{region}" th:object="${region}"
						  method="post">
						<input type="text" placeholder="Region name"  th:field="*{name}">
						<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
						<input type="submit" value="Create">
					</form>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer">
		<div class="container">
			<div class="footer-content">
				<p>2021</p>
			</div>
		</div>
	</footer>
</body>
</html>