<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hospital of Andrew Dia</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&family=Philosopher:wght@400;700&family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/styles.css">
</head>
<body class="body">
	<header  class="header">
		<div class="container">
			<div class="nav">
				<div class="logo"><img src="img/logo.svg" alt=""></div>
				<form class="search">
					<input type="text" placeholder="Пошук">
					<input type="submit" action="" value="">
				</form>
				<form class="select">
					<select class="localization">
						<option value="ukr">Українська</option>
						<option value="en">Англійська</option>
					</select>
					<input type="submit" action="" value="✓">
				</form>
			</div>
		</div>
	</header>
	<section class="content">
		<div class="container">
			<div class="content-wrap">
				<div class="search-content">
					<p>Реєстрація пацієнта</p>
					<form action="" class="new-patient">
						<input type="text" placeholder="Ім'я пацієнта">
						<input type="text" placeholder="Прізвище пацієнта">
						<input type="number" min="1" max="" placeholder="Номер відділення">
						<input type="submit" value="Зареєструвати">
					</form>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer">
		<div class="container">
			<div class="footer-content">
				<p>2021</p>
			</div>
		</div>
	</footer>
</body>
</html>