<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>NAME</th>
        <th>SURNAME</th>
        <th>NUMBER OF ILLNESSES</th>
        <th>DEPARTMENT ID</th>
    </tr>
    <tr th:each="patient : ${patients}">
        <td th:text="${patient.name}">Text</td>
        <td th:text="${patient.surname}">Text</td>
        <td th:text="${patient.numOfIllnesses}">Text</td>
        <td th:text="${patient.departmentId}">Text</td>
    </tr>
</table>
</body>
</html>